:root {
  --dark:#0f0f0f;
  --blackblue:#2d355b;
  --rock:#666666;
  --grey:#c9c9c9;
  --lightgrey:#e6e6e6;
  --white:#ffffff;

  --pink:#f5b2f5;
  --lily:#ff8ebd;
  --bubble:#f54773;
  --red:#ff0000;
  --peach:#ff4545;
  --lightred:#c4383e;
  --violet:#7030a0;
  --magenta:#cf10ff; 
  --water:#0070c0;
  --blue:#2f54fc;
  --moon:#6666ff;
  --lavender:#9999ff;
  --steel:#eeeeff;
  --orange:#ffa42d;
  --yellow:#fdfd5e;
  --lightyellow:#ffff83;
  --darkgreen:#0e9135;
  --green:#1cd153;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
header {
  margin: 0;
  padding: 10px 15px;
  display: flex;
  justify-content:space-around;
  background-color: var(--bubble);
}
header a {
  margin: 0;
  font: bold 30pt Calibri;
  color: var(--yellow);
}
header a {
  text-decoration: none;
}
header a:first-child {
  margin-left: 0px;
}
header a {
  margin-left: 25px;
}
header a:hover{
  color: var(--blue);
}


main{
  flex: auto;
  margin: 0 15px;
  padding: 10px;
  display: flex;
  background-color: #fff;
}
main div {
  flex: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main div h1 {
  margin: 0;
  padding: 10px 30px;
  font: bold 40pt Calibri;
  color: var(--blackblue);
  border: 5px dotted var(--blackblue);
}
main div h1:hover {
  color: var(--green);
  border-color:  var(--green);
  cursor: pointer;
}
main div h1:active {
  color: var(--darkgreen);
  border-color:  var(--darkgreen);
  cursor: pointer;
}