:root {
  --dark:#0f0f0f;
  --blackblue:#2d355b;
  --rock:#666666;
  --grey:#c9c9c9;
  --lightgrey:#e6e6e6;
  --white:#ffffff;

  --pink:#f5b2f5;
  --lily:#ff8ebd;
  --bubble:#f54773;
  --red:#ff0000;
  --peach:#ff4545;
  --lightred:#c4383e;
  --violet:#b451ff;
  --magenta:#cf10ff; 
  --water:#0070c0;
  --blue:#2f54fc;
  --moon:#6666ff;
  --lavender:#9999ff;
  --bluesteel:#a4bbfa;
  --steel:#c9d7fd;
  --orange:#faab60;
  --yellow:#fdfd5e;
  --lightyellow:#f7f784;
  --sand:#fdf3b6;
  --darkgreen:#0e9135;
  --green:#1cd153;
  --mint:#94f0b0;
}

body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* #region Main */
main{
  margin: 0 15px;
  padding: 10px;
  font: 20px Calibri;
}
main p{
  margin: 10px 0;
}
main div{
  padding: 10px 0px;
}
main input, button{
  margin-bottom: 5px;
  padding: 5px;
  font: 16pt Calibri;
  border: 2px solid var(--lavender);
  border-radius: 5px;
}
main input[type="text"]{
  width: 400px;
}
main input:hover{
  border: 2px solid var(--green);
}
main button{
  padding: 5px 15px;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  border-color: var(--lightyellow);
  background-color: var(--lightyellow);
}
main button:hover{
  cursor: pointer;
  border-color: var(--green);
  background-color: var(--green);
}
/* #endregion Main */

/* #region Form */
form table.main{
  margin: auto;
  padding: 5px;
  font-size: 0.95em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  background-color: var(--steel);
}
form table tr th{
  padding: 5px;
  border: 2px solid #0f0f0f ;
  border-radius: 10px;
  background-color: var(--bluesteel);
}
form table tr td{
  padding: 5px;
}
form table tr td:nth-child(2){
  display: flex;
  direction: row;
  align-items: center;
  justify-content: space-between;
}
form table tr td.buttons{
  display: flex;
  direction: row;
  align-items: center;
  justify-content: center;
}
form table tr td fieldset{
  margin: 10px;
}
form table tr td label{
  margin-left: 5px;
  font-weight: bold;
}
form table tr td div{
  margin-left: 5px;
  font-weight: bold;
  color:var(--bubble);
}
form table tr td input{
  margin: 5px;
  font-weight: bold;
  color:var(--blackblue);
}
form table input[type="button"], input[type="reset"]{
  padding: 5px 20px;
  font-weight: bold;
  font-size: 1.05em;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: black;
  border-radius: 5px;
  border-color: var(--lightyellow);
  background-color: var(--lightyellow);
}
form table button:hover, input[type="button"]:hover, input[type="reset"]:hover{
  cursor: pointer;
  border-color: var(--green);
  background-color: var(--green);
}
/* #endregion Form */